<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ecommistry\Repository\Api\Data\CustomerInterface"
                type="Ecommistry\Repository\Model\Customer"/>
    <preference for="Ecommistry\Repository\Api\CustomerRepositoryInterface"
                type="Ecommistry\Repository\Model\CustomerRepository"/>
    <preference for="Ecommistry\Repository\Api\Data\CustomerSearchResultsInterface"
                type="Ecommistry\Repository\Model\CustomerSearchResults"/>
</config>