<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="ecommistry_blog_grid_data_source" xsi:type="string">Ecommistry\Blog\Model\ResourceModel\Blog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <preference for="Ecommistry\Blog\Api\Data\BlogInterface"
                type="Ecommistry\Blog\Model\Blog"/>
    <preference for="Ecommistry\Blog\Api\Data\TopicInterface"
                type="Ecommistry\Blog\Model\Topic"/>

    <preference for="Ecommistry\Blog\Api\BlogRepositoryInterface"
                type="Ecommistry\Blog\Model\BlogRepository"/>
    <preference for="Ecommistry\Blog\Api\Data\BlogSearchResultInterface"
                type="Ecommistry\Blog\Model\BlogSearchResult"/>
    <preference for="Ecommistry\Blog\Api\TopicRepositoryInterface"
                type="Ecommistry\Blog\Model\TopicRepository"/>
    <preference for="Ecommistry\Blog\Api\Data\TopicSearchResultInterface"
                type="Ecommistry\Blog\Model\TopicSearchResult"/>

    <type name="Ecommistry\Blog\Model\BlogRepository">
        <plugin name="Ecommistry_Blog_Plugin" type="Ecommistry\Blog\Plugin\SaveBlogLoggerPlugin"/>
        <plugin name="Ecommistry_Blog_Topic_Plugin" type="Ecommistry\Blog\Plugin\BlogTopicPlugin"/>
    </type>
</config>